*,
::after,
::before {
    /* 内容器不超出外容器 */
    box-sizing: border-box;
}

html {
    /* 超出的内容改为滚动 */
    overflow-y: scroll;

    /* 修复一些 iOS Safari 的缩放问题 */
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    /* body 无边框 */
    margin: 0;
}
