@font-face {
    font-family: "Rubik Glitch";
    src:
        local("RubikGlitch-Regular"),
        url("../../static/fonts/Rubik_Glitch/RubikGlitch-Regular.ttf");
}

@font-face {
    font-family: "Rockwell";
    font-weight: normal;
    src:
        local("Rockwell-Regular"),
        url("../../static/fonts/Rockwell/Rockwell-Regular.ttf");
}

@font-face {
    font-family: "Rockwell";
    font-weight: bold;
    src:
        local("Rockwell-Bold"),
        url("../../static/fonts/Rockwell/Rockwell-Bold.ttf");
}
