.upper {
    margin-top: 130px;
    margin-bottom: 80px;
}

h1 {
    font-family: "Rubik Glitch";
    font-size: 85px;
    font-weight: normal;
    letter-spacing: 0.1px;
}

.talk {
    font-family: "Rockwell";
    line-height: 1.6;
    word-break: break-word;
}

.Cobb {
    font-size: 18px;

    margin-bottom: 50px;
}

.Mal {
    direction: rtl;

    font-size: 20px;
    font-weight: 800;
}
